.delete-player-form {
    .players-table-profile-picture {
        margin-top: 0.25rem;
        width: 6rem;
        height: 6rem;
        border-style: solid;
        border-width: 3px;
        border-color: var(--green-700);
        border-radius: 50%;
    }

    .players-table-profile-without-picture {
        margin-top: 0.25rem;
        width: 6rem;
        height: 6rem;
    }

    .p-card .p-card-body {
        width: 39rem;
    }

    .p-button:focus {
        box-shadow: 0 0 0 2px #fff, 0 0 0 5px #DC2626, 0 1px 2px 0 rgb(0, 0, 0);
    }

    .p-dialog-header-icon {
        color: #fff;
    }
}
