<div
    class="delete-position-form flex justify-content-center align-items-center"
>
    <p-card
        header="Positions"
        styleClass="shadow-none justify-content-center align-content-center align-content-center"
    >
        <p-progressBar
            *ngIf="$loadingDeletion | async"
            mode="indeterminate"
            [style]="{ height: '6px' }"
            color="var(--green-600)"
        ></p-progressBar>

        <p-table
            [value]="positions"
            dataKey="id"
            [rows]="5"
            [rowHover]="true"
            [showCurrentPageReport]="true"
            [paginator]="true"
            [tableStyle]="{
                width: 'w-full',
                overflow: 'hidden',
            }"
        >
            <ng-template pTemplate="header" let-position>
                <tr>
                    <th id="" pSortableColumn="name">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            <div
                                class="flex justify-content-between align-items-center text-lg mt-1"
                            >
                                Name
                            </div>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="name"></p-sortIcon>
                                <p-columnFilter
                                    type="text"
                                    field="name"
                                    display="menu"
                                    matchMode="contains"
                                    [showMatchModes]="false"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                    style="height: 1.8rem"
                                ></p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th id="" pSortableColumn="" style="cursor: default">
                        <div class="text-lg text-center mt-1">Delete</div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-position>
                <tr>
                    <td>
                        {{ position.name | shorten : 30 }}
                    </td>
                    <td
                        *ngIf="!($loadingDeletion | async)"
                        style="text-align: center"
                        class="p-button-danger-focus"
                    >
                        <p-button
                            severity="danger"
                            styleClass="fadeindown animation-duration-1000 animation-iteration-1 animation-ease-in-out"
                            icon="pi pi-trash"
                            [rounded]="true"
                            (onClick)="handleDeletePositionEvent(position)"
                        ></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>
