.player-profile-picture {
    img {
        width: 270px;
        height: 370px;
        border-radius: 0.375rem;
        border-style: solid;
        border-color: var(--green-700);
        border-width: 0.200rem;
    }
}

.player-profile-without-picture {
    img {
        width: 270px;
        height: 270px;
    }
}

.player-data-fieldset {
    .p-fieldset legend {
        padding: 0.5rem;
    }
}

.player-data-field {
    margin: 0;
    font-size: 1.125rem;
    white-space: nowrap;
    min-width: 15rem;
}
