<div class="flex justify-content-center align-items-start w-full">
  <div class="w-full">
    <p-card header="Game Modes" styleClass="bg-gray-50 w-full">
      <p-table
        (onLazyLoad)="handleChangePageEvent($event)"
        [first]="pageable.indexFirstRow"
        [lazy]="true"
        [loading]="$loading.getValue()"
        [paginator]="true"
        [rowHover]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        [rows]="page.pageSize"
        [showCurrentPageReport]="true"
        [totalRecords]="page.totalElements"
        [value]="page.content"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} game modes"
        dataKey="id"
        styleClass="dropdown-caret-color-transparent w-full">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <div
                class="flex justify-content-start align-items-center text-lg mt-1 text-nowrap"
                style="white-space: nowrap">
                Formation Name
              </div>
            </th>
            <th>
              <div class="flex justify-content-start align-items-center text-lg mt-1">Description</div>
            </th>
          </tr>
        </ng-template>
        <ng-template let-gameMode pTemplate="body">
          <tr style="cursor: pointer">
            <td (click)="handleViewFullDataGameModeEvent(gameMode.id)">
              {{ gameMode.formationName | shorten: 50 }}
            </td>
            <td (click)="handleViewFullDataGameModeEvent(gameMode.id)">
              {{ (gameMode.description | shorten: 200) || 'No description for now!' }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
