<div class="flex justify-content-center">
    <p-card
        styleClass="flipleft animation-duration-1000 animation-iteration-1 animation-ease-out"
        [style]="{ 'min-width': '40rem', 'max-width': '40rem' }"
        header="Rankings"
    >
        <form [formGroup]="getPlayersRankingForm" (ngSubmit)="handleGetPlayersRankingEvent()">
            <div class="flex justify-content-between align-content-center align-items-center">
                <span class="p-float-label">
                    <p-dropdown
                        [options]="gameModes"
                        optionLabel="formationName"
                        [filter]="true"
                        filterBy="formationName"
                        [showClear]="true"
                        placeholder="Select a Game Mode"
                        inputId="float-label-gamemode"
                        optionValue="id"
                        formControlName="gameModeId"
                        (onChange)="handleFindGameModePositionsEvent($event)"
                    ></p-dropdown>
                    <label for="float-label-gamemode" class="white-space-nowrap">Select a Game Mode</label>
                </span>
                <span class="p-float-label">
                    <p-dropdown
                        [options]="selectedGameModePositions"
                        optionLabel="positionName"
                        [filter]="true"
                        filterBy="positionName"
                        [showClear]="true"
                        placeholder="Select a Position"
                        inputId="float-label-position"
                        optionValue="positionId"
                        formControlName="positionId"
                    ></p-dropdown>
                    <label for="float-label-position" class="white-space-nowrap">Select a Position</label>
                </span>
                <p-button
                    [disabled]="!getPlayersRankingForm.value.gameModeId || !getPlayersRankingForm.value.positionId"
                    type="submit"
                    label="Query"
                    styleClass="p-button-success"
                    pTooltip="Query Ranking"
                    tooltipPosition="top"
                ></p-button>
            </div>
        </form>
    </p-card>
</div>
