<app-menubar-navigation></app-menubar-navigation>

<app-players-statistics-view
    #playersStatisticsViewRef
    [gameModes]="gameModes"
    [selectedGameModePositions]="selectedGameModePositions"
    [getPlayersRankingForm]="getPlayersRankingForm"
    [viewActivate$]="viewActivate$"
    [playersRankingLoading$]="playersRankingLoading$"
    [playersRanking]="playersRanking"
    [playersRankingPage]="playersRankingPage"
    (findGameModePositionsEvent)="handleFindGameModePositionsAction($event)"
    (getPlayersRankingEvent)="handleGetPlayersRankingAction($event)"
></app-players-statistics-view>
