<app-menubar-navigation></app-menubar-navigation>

<app-players-statistics-view
    #playersStatisticsViewRef

    [gameModes]="gameModes"
    [selectedGameModePositions]="selectedGameModePositions"

    [getPlayersRankingForm]="getPlayersRankingForm"
    [$viewActivate]="$viewActivate"

    [playersRankingPageable]="playersRankingPageable"
    [chartBarPageable]="chartBarPageable"
    [chartRadarPageable]="chartRadarPageable"

    [$playersRankingLoading]="$playersRankingLoading"
    [$chartBarLoading]="$chartBarLoading"
    [$chartRadarLoading]="$chartRadarLoading"

    [playersRankingPage]="playersRankingPage"
    [chartBarPage]="chartBarPage"
    [chartRadarPage]="chartRadarPage"

    (findGameModePositionsEvent)="handleFindGameModePositionsAction($event)"
    (getPlayersRankingEvent)="handleGetPlayersRankingAction($event)"

    (changePagePlayersRankingEvent)="handleChangePagePlayersRankingAction($event)"
    (changePageChartBarEvent)="handleChangePageChartBarAction($event)"
    (changePageChartRadarEvent)="handleChangePageChartRadarAction($event)"
></app-players-statistics-view>
