<app-menubar-navigation></app-menubar-navigation>

<app-gamemodes-table
    *ngIf="!(gameModeView | async)"
    [pageable]="pageable"
    [$loading] = "$loading"
    [page]="page"
    (changePageEvent)="handleChangePageAction($event)"
    (viewEvent)="handleViewFullDataGameModeAction($event)"
></app-gamemodes-table>

<app-gamemode-view
    *ngIf="gameModeView | async"
    [gameMode]="gameMode"
    (backEvent)="handleBackAction()"
    (editOrDeleteGameModeEvent)="handleEditOrDeleteGameModeEvent($event)"
></app-gamemode-view>
