<form
    [formGroup]="newPositionForm"
    (ngSubmit)="handleSubmitSavePositionForm()"
    class="flex flex-column align-content-center m-3 gap-4"
>
    <span class="p-float-label mt-3">
        <input
            pInputText
            formControlName="name"
            class="w-full"
        />
        <app-form-control-alert
            [form]="newPositionForm"
            [controlName]="'name'"
            [minNumberCharacters]="3"
            [maxNumberCharacters]="30"
        ></app-form-control-alert>
        <label>Name <span class="text-red-600">*</span></label>
    </span>

    <span class="p-float-label">
        <textarea
            pInputTextarea
            rows="6"
            formControlName="description"
            class="w-full"
        ></textarea>
        <app-form-control-alert
            [form]="newPositionForm"
            [controlName]="'description'"
            [minNumberCharacters]="0"
            [maxNumberCharacters]="2000"
        ></app-form-control-alert>
        <label>Description</label>
    </span>

    <form
        [formGroup]="positionParameterForm"
        (ngSubmit)="handleAddNewParameter()"
        class="flex justify-content-between align-items-center mt-1 w-full"
    >
        <div class="flex justify-content-between align-content-center gap-3">
            <span class="p-float-label">
                <p-dropdown
                    [options]="totalParameters"
                    [editable]="true"
                    [showClear]="true"
                    optionLabel="name"
                    formControlName="parameter"
                    placeholder="Select a parameter"
                    styleClass="w-20rem"
                ></p-dropdown>
                <label>Select a parameter</label>
            </span>
            <input
                pInputText
                [minlength]="1"
                [maxlength]="3"
                formControlName="weight"
                class="w-7rem"
            />
        </div>
        <p-button
            [disabled]="!positionParameterForm.valid"
            [rounded]="true"
            type="submit"
            severity="warning"
            icon="pi pi-plus"
            pTooltip="Add new parameter"
            tooltipPosition="top"
        ></p-button>
    </form>

    <div
        *ngIf="positionParameters.length > 0; else withoutParameters"
        class="flex flex-column gap-2"
    >
        <div class="flex justify-content-between align-items-center">
            <span class="text-xl font-bold text-gray-900">Position parameters</span>
        </div>

        <p-table [value]="positionParameters" [rowHover]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">
                        <div class="flex justify-content-between align-items-center">
                            <div class="flex justify-content-center align-items-center text-lg mt-1">
                                Name
                            </div>
                            <div class="flex justify-content-between align-items-center">
                                <p-sortIcon field="name"></p-sortIcon>
                                <p-columnFilter
                                    [showMatchModes]="false"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                    matchMode="contains"
                                    type="text"
                                    field="name"
                                    display="menu"
                                    style="height: 1.7rem"
                                ></p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th pSortableColumn="weight">
                        <div class="flex justify-content-between align-items-center">
                            <div class="flex justify-content-center align-items-center text-lg mt-1">
                                Weight
                            </div>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="weight"></p-sortIcon>
                                <p-columnFilter
                                    [showMatchModes]="false"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                    matchMode="contains"
                                    type="text"
                                    field="weight"
                                    display="menu"
                                    style="height: 1.7rem"
                                ></p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center text-lg mt-1">
                            Delete
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-parameter>
                <tr>
                    <td>{{ parameter.name }}</td>
                    <td>
                        {{ parameter.weight }}
                    </td>
                    <td
                        style="text-align: center"
                        class="p-button-danger-focus"
                    >
                        <p-button
                            severity="danger"
                            icon="pi pi-trash"
                            [rounded]="true"
                            (onClick)="handleDeleteParameter(parameter.id)"
                        ></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <ng-template #withoutParameters>
        <h3 class="text-center text-large text-green-900">
            No parameters for now!
        </h3>
    </ng-template>

    <div class="flex flex justify-content-center align-content-center align-items-center mt-4">
        <p-button
            [disabled]="!newPositionForm.valid"
            type="submit"
            label="Send"
            styleClass="p-button-success flex justify-content-center align-content-center gap-2"
        >
            <i class="pi pi-check" style="font-size: 1.2rem"></i>
        </p-button>
    </div>
</form>
