<form
    [formGroup]="newPlayerForm"
    (ngSubmit)="handleSubmitSavePlayerForm()"
    enctype="multipart/form-data"
    class="p-button-danger-focus flex flex-column align-content-center m-3 gap-5"
>
    <span class="p-float-label mt-3">
        <input
            pInputText
            formControlName="name"
            class="w-full"
        />
        <app-form-control-alert
            [form]="newPlayerForm"
            [controlName]="'name'"
            [minNumberCharacters]="3"
            [maxNumberCharacters]="30"
        ></app-form-control-alert>
        <label>Name <span class="text-red-600">*</span></label>
    </span>

    <span class="p-float-label">
        <input
            pInputText
            placeholder="Team"
            formControlName="team"
            class="w-full"
        />
        <app-form-control-alert
            [form]="newPlayerForm"
            [controlName]="'team'"
            [minNumberCharacters]="3"
            [maxNumberCharacters]="30"
        ></app-form-control-alert>
        <label>Team <span class="text-red-600">*</span></label>
    </span>

    <div class="flex justify-content-between align-items-center gap-3">
        <span class="p-float-label">
            <p-inputNumber
                formControlName="age"
                [minlength]="1"
                [maxlength]="3"
                [useGrouping]="false"
            ></p-inputNumber>
            <label>Age in years</label>
        </span>

        <span class="p-float-label">
            <p-inputNumber
                formControlName="height"
                [minlength]="2"
                [maxlength]="3"
                [useGrouping]="false"
            ></p-inputNumber>
            <label>Height in centimeters</label>
        </span>
    </div>
    <div class="flex justify-content-between align-items-start gap-3">
        <span class="p-float-label mt-1">
            <p-dropdown
                [options]="totalPositions"
                optionLabel="name"
                [editable]="true"
                [showClear]="true"
                placeholder="Select a position"
                styleClass="w-20rem"
                formControlName="position"
            ></p-dropdown>
            <label>Select a position <span class="text-red-600">*</span></label>
        </span>

        <div class="flex flex-column justify-content-start align-items-center w-full gap-1">
            <label
                pRipple
                pButton
                for="input-file"
                class="bg-gray-700 hover:bg-gray-900 w-full p-2 font-medium shadow-1 flex justify-content-center align-items-center gap-2 border-gray-700"
                icon="pi pi-upload"
            >
                Choose Picture
            </label>

            <span
                *ngIf="viewSelectedPicture$ | async"
                class="font-medium"
            >
                {{ playerPicture.name | shorten : 15 }}
            </span>

            <input
                (change)="handleUploadPicture($event)"
                id="input-file"
                type="file"
                name="input-file"
                accept=".jpg, .jpeg, .png .webp"
                style="display: none"
            />
        </div>
    </div>

    <form
        [formGroup]="playerParameterForm"
        (ngSubmit)="handleAddNewPlayerParameter()"
        class="flex justify-content-between align-items-center mt-1 w-full"
    >
        <div class="flex justify-content-between align-content-center gap-3">
            <span class="p-float-label">
                <p-dropdown
                    [options]="totalParameters"
                    [editable]="true"
                    [showClear]="true"
                    optionLabel="name"
                    formControlName="parameter"
                    placeholder="Select a parameter"
                    styleClass="w-20rem"
                ></p-dropdown>
                <label>Select a parameter</label>
            </span>
            <input
                pInputText
                formControlName="score"
                [minlength]="1"
                [maxlength]="3"
                class="w-7rem"
            />
        </div>
        <p-button
            [disabled]="!playerParameterForm.valid"
            [rounded]="true"
            type="submit"
            severity="warning"
            icon="pi pi-plus"
            pTooltip="Add new parameter"
            tooltipPosition="top"
        ></p-button>
    </form>

    <div
        *ngIf="playerParameters.length > 0; else withoutParameters"
        class="flex flex-column gap-2"
    >
        <div class="flex justify-content-between align-items-center">
            <span class="text-xl font-bold text-gray-900">
                Player parameters
            </span>
        </div>

        <p-table
            [value]="playerParameters"
            [rowHover]="true"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">
                        <div class="flex justify-content-between align-items-center">
                            <div class="flex justify-content-center align-items-center text-lg mt-1">
                                Name
                            </div>
                            <div class="flex justify-content-between align-items-center">
                                <p-sortIcon field="name"></p-sortIcon>
                                <p-columnFilter
                                    [showMatchModes]="false"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                    matchMode="contains"
                                    type="text"
                                    field="name"
                                    display="menu"
                                    style="height: 1.7rem"
                                ></p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th pSortableColumn="score">
                        <div class="flex justify-content-between align-items-center">
                            <div class="flex justify-content-center align-items-center text-lg mt-1">
                                Score
                            </div>
                            <div class="flex justify-content-between align-items-center">
                                <p-sortIcon field="score"></p-sortIcon>
                                <p-columnFilter
                                    [showMatchModes]="false"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                    matchMode="contains"
                                    type="text"
                                    field="score"
                                    display="menu"
                                    style="height: 1.7rem"
                                ></p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center text-lg mt-1">
                            Delete
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-parameter>
                <tr>
                    <td>{{ parameter.name }}</td>
                    <td>
                        {{ parameter.score }}
                    </td>
                    <td
                        style="text-align: center"
                        class="p-button-danger-focus"
                    >
                        <p-button
                            [rounded]="true"
                            (onClick)="handleDeletePlayerParameter(parameter.id)"
                            severity="danger"
                            icon="pi pi-trash"
                        ></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <ng-template #withoutParameters>
        <h3 class="text-center text-large text-green-900">
            No parameters for now!
        </h3>
    </ng-template>

    <div class="flex flex justify-content-center align-content-center align-items-center mt-4">
        <p-button
            [disabled]="!newPlayerForm.valid"
            type="submit"
            label="Send"
            styleClass="p-button-success flex justify-content-center align-content-center gap-2"
        >
            <i class="pi pi-check" style="font-size: 1.2rem"></i>
        </p-button>
    </div>
</form>
