:root {
    --black-1: rgba(0, 0, 0, .87);
    --blue-1: var(--blue-600);
    --blue-2: #18afdda9;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, #080414, #04f3a3) fixed;
    background-size: 100% 200%;
    background-repeat: no-repeat;
    overflow-y: scroll !important;
}

img, svg {
    filter: brightness(1.0) contrast(1.0) saturate(1.2) grayscale(5%);
    image-rendering: -webkit-optimize-contrast !important;
}

text, span {
    text-rendering: optimizelegibility !important;
}

.p-card-title {
    text-align: start;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: var(--gray-900);
    margin-bottom: 1rem;

}

.p-button {
    caret-color: transparent ;
    caret-shape: block;
}


tr {
    color: var(--black-1);
    &:hover {
        color: var(--blue-600);
    }
}

.p-fieldset {
    background-color: var(--gray-50);
    legend {
        background-color: #e3e3e3;
    }
    .p-fieldset-content {
        color: var(--black-1);
        padding: 0.1rem;
    }
}

.p-scrollpanel-bar {
    background-color: var(--blue-400);
    width: 0.5rem;
}


.p-dropdown {
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    span {
        color: var(--black-1);
    }
    &:hover {
        background-color: whitesmoke;
    }
}

.p-dropdown-filter-icon {
    color: rgba(0, 0, 0, .87);

}

.p-dropdown-trigger {
    width: 30%;
    svg {
        margin-left: 2rem
    }
}

.p-dropdown-items-wrapper {
    max-height: 150px !important;
}

.p-dialog {
    width: 40rem;
}

.p-dialog-header {
    background: linear-gradient(to bottom, #080414, #04f3a3) fixed;
    background-size: 100% 200%;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: bold;
}

.p-dialog-content {
    padding-top: 0.5rem;
}

.p-dialog-header-icon {
    color: #fff;
    caret-color: transparent;

    &:focus {
        box-shadow: none;
    }
}

.p-dialog-header-icon:enabled:hover {
    background-color: var(--blue-2);
}

.p-button-danger-focus {
    .p-button:focus {
        box-shadow: 0 0 0 2px #fff, 0 0 0 5px #DC2626, 0 1px 2px 0 rgb(0, 0, 0);
    }
}
