:root {
  --gradient: linear-gradient(to bottom, #080414, #02c986) no-repeat fixed;
  --purple-1: #111821;
  --black-1: rgba(0, 0, 0, 0.87);
  --blue-1: var(--blue-600);
  --blue-2: #18afdda9;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  background: var(--gradient);
  overflow-y: scroll !important;
}

img,
svg {
  filter: brightness(1) contrast(1) saturate(1.2) grayscale(5%) !important;
  image-rendering: high-quality !important;
  -webkit-optimize-contrast: high-quality !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
}

text,
span {
  text-rendering: optimizelegibility !important;
}

.display-none {
  display: none !important;
}

.p-card-title {
  text-align: start;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: var(--gray-900);
  margin-bottom: 1rem;
  caret-color: transparent;
}

.p-card-subtitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--gray-700);
}

.p-button {
  caret-color: transparent;
}

.p-inputtext {
  color: var(--gray-800);
}

.p-datatable-header {
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  .pi {
    font-size: 18px;
  }
}

.p-datatable-loading-overlay {
  border-radius: 10px;
  .p-icon {
    width: 5rem;
    height: 10rem;
  }
}

.p-element .p-paginator-current,
.p-paginator-element {
  caret-color: transparent !important;
  color: var(--gray-900);
}

.dropdown-caret-color-transparent {
  .p-dropdown {
    caret-color: transparent;
  }
}

.p-dropdown {
  border: 1px solid;
  border-radius: 3px;
  span {
    color: var(--black-1);
  }
  &:hover {
    background-color: whitesmoke;
  }
}

.p-dropdown-filter-icon {
  color: rgba(0, 0, 0, 0.87);
}

.p-dropdown-items-wrapper {
  max-height: 150px !important;
}

tr {
  color: var(--black-1);
  &:hover {
    color: var(--blue-600);
  }
}

.panel-custom {
  .p-panel-header {
    border: 2px solid var(--green-700);
    border-bottom: none;
    padding: 0.6rem;
    background: var(--gray-300);
    color: var(--black-1);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-weight: bold;
  }

  .p-panel-content {
    border: 2px solid var(--green-700);
    border-top: none;
    padding: 0.6rem;
    background: var(--gray-100);
    color: var(--black-1);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 11rem;
    text-align: center;
    font-weight: 400;
    word-wrap: break-word;
  }
}

.p-scrollpanel-bar {
  background-color: var(--blue-400);
  width: 0.5rem;
}

.p-dialog {
  width: 40rem;
}

.p-dialog-header {
  background-size: 100% 200%;
  background: linear-gradient(to bottom, #080414, #02c986) no-repeat fixed;
  color: #fff;
  font-weight: bold;
}

.p-dialog-content {
  padding-top: 0.5rem;
}

.p-dialog-header-icon {
  color: #fff;
  caret-color: transparent;

  &:focus {
    box-shadow: none;
  }
}

.p-dialog-header-icon:enabled:hover {
  background-color: var(--blue-2);
}

.button-danger-focus {
  .p-button-danger:focus {
    box-shadow:
      0 0 0 2px #fff,
      0 0 0 5px #dc2626,
      0 1px 2px 0 rgb(0, 0, 0);
  }
}
