.menubar {
    background-color: #18d596;
}

.logo {
    width: 100px !important;
    height: 100px !important;
    background-image: url('../../../../assets/logo-3.png') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.p-menubar {
    background-color: #ffffff00;
    border: none;
    .p-submenu-list {
        background-color: #18d596;
    }
    span.p-menuitem-text, span.p-menuitem-icon {
        color: #000000;
        font-size: 17px;
        font-weight: medium;
    }
    .p-menuitem-link:hover {
        background-color: #18afddb2;
        border-radius: 10px;
    }
    .p-menuitem-content:hover {
        background-color: #18afddb2;
    }
    .p-icon {
        color: #000000ce;
    }
}

.p-card-title {
    text-align: center;
    font-size:2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #0e4f26;
    margin-bottom: 1rem;
}

.p-card {
    border-top: solid;
    border-top-color: var(--green-800);
    border-top-width: 1rem;
}

@media screen and (max-width: 960px) {
    .p-menubar-root-list {
        min-width: 25vh;
        background-color: #18d596;
    }
}

@media screen and (min-width: 960px) and (max-width: 1115px) {
    .menubar {
        .p-menuitem-link {
            width: 14vw !important;
        }
        span.p-menuitem-text, span.p-menuitem-icon {
            color: #000000;
            font-size: 1.4vw;
        }
    }
}

@media screen and (max-width: 1115px) {
    .menubar {
        justify-content: start !important;
    }
}

@media screen and (min-width: 960px) and (max-width: 1150px) {
    .logo {
        width: 60px !important;
        height: 60px !important;
    }
}
