:host::ng-deep {
    .p-menubar {
        padding: 0 5rem;
        background: linear-gradient(to right, #7fffd4, #ffef97);
        border: none;
        color: white;
    }
}

.logo {
    width: 100px !important;
    height: 100px !important;
    background-image: url('../../../../assets/logo-removebg.png') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
