.menubar {
    background-color: #0eda96;
}

.logo {
    width: 100px !important;
    height: 100px !important;
    background-image: url('../../../../assets/logo-3.png') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.p-menubar {
    background-color: #ffffff00;
    border: none;
    .p-submenu-list {
        background-color: #0eda96;
    }
    span.p-menuitem-text, span.p-menuitem-icon {
        color: var(--gray-900);
        text {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        font-weight: 600;
    }
    .p-menuitem-link:hover {
        background-color: #18afdd7d;
        border-radius: 10px;
    }
    .p-menuitem-content:hover {
        background-color: #18afdd7d;
    }
    .p-icon {
        color: var(--gray-900);
    }
}

@media screen and (max-width: 960px) {
    .p-menubar-root-list {
        min-width: 25vh;
        background-color: #18d596;
    }
}

@media screen and (min-width: 960px) and (max-width: 1115px) {
    .menubar {
        .p-menuitem-link {
            width: 14vw !important;
        }
        span.p-menuitem-text, span.p-menuitem-icon {
            color: #000000;
            font-size: 1.4vw;
        }
    }
}

@media screen and (max-width: 1115px) {
    .menubar {
        justify-content: start !important;
    }
}

@media screen and (min-width: 960px) and (max-width: 1150px) {
    .logo {
        width: 60px !important;
        height: 60px !important;
    }
}
