<div
    class="flex flex-column align-items-center justify-content-center"
    style="height: 100vh"
>
    <div
        class="flex justify-content-center align-items-center bg-gray-100 p-3 pl-5 pr-5 border-round-xl"
    >
        <div id="home-box" class="flex flex-column align-items-center gap-4">
            <h1 class="w-20rem text-left m-0 p-0 line-height-1">
                <span>Build your formations</span>
                <i
                    id="home-title-icon"
                    class="pi pi-key ml-1 slidedown-icon text-6xl"
                >
                </i>
            </h1>
            <img
                alt="logo"
                id="home-logo"
                src="./../../../../../assets/logo-3.png"
            />
        </div>

        <p-card
            header="Login"
            styleClass="shadow-none border-none bg-gray-100 text-gray-900"
            subheader="Enter a valid account:"
        >
            <form
                (ngSubmit)="onSubmitSigninForm()"
                [formGroup]="signinForm"
                class="flex flex-column align-items-center gap-4"
            >
                <div class="flex flex-column align-items-start gap-3">
                    <label class="font-bold">Username <span class="text-red-600">*</span></label>
                    <input
                        class="text-gray-900"
                        formControlName="username"
                        pInputText
                        type="email"
                    />
                </div>
                <div class="flex flex-column align-items-start gap-3">
                    <label class="font-bold">Password <span class="text-red-600">*</span></label>
                    <input
                        class="text-gray-900"
                        formControlName="password"
                        pInputText
                        type="password"
                    />
                </div>
                <div class="cursor-pointer mt-2 w-full">
                    <button
                        [disabled]="!this.signinForm.valid || !($enabledSubmitButton | async)"
                        class="p-button-success w-full"
                        label="Sign in"
                        pButton
                        pRipple
                        type="submit"
                    ></button>
                </div>
            </form>
        </p-card>
    </div>
</div>
