<div class="flex justify-content-center">
    <p-card
        styleClass="shadow-3"
        [style]="{ 'min-width':'40rem', 'max-width':'40rem' }"
        header="Game Mode View"
    >
        <div class="flex justify-content-between align-content-center align-items-center">
            <button
                pButton
                pRipple
                icon="pi pi-arrow-left"
                pTooltip="Return to the table"
                tooltipPosition="top"
                (click)="handleBackEvent()"
            ></button>
            <div class="flex justify-content-between align-content-center align-items-center gap-3">
                <button
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-warning"
                    pTooltip="Edit player data"
                    tooltipPosition="top"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-danger"
                    pTooltip="Delete player"
                    tooltipPosition="top"
                ></button>
            </div>
        </div>

        <div class="flex flex-column justify-content-center align-content-center align-items-center">
            <p-fieldset legend="Formation Name" styleClass="m-1 w-6 white-space-nowrap border-blue-400">
                <p class="m-0 text-lg text-center">
                    {{ gameMode.formationName }}
                </p>
            </p-fieldset>
            <p-fieldset legend="Description" styleClass="m-1 w-10 border-blue-400" [toggleable]="true">
                <p class="m-0 text-lg w-30rem">
                    {{ gameMode.description  || 'No description for now!' }}
                </p>
            </p-fieldset>
        </div>

        <p-table
            *ngIf="gameMode.fields.length > 0; else withoutPositions"
            [value]="gameMode.fields"
            dataKey="positionId"
            sortField="positionName"
            sortMode="single"
            dataKey="positionName"
            rowGroupMode="subheader"
            groupRowsBy="positionName"
            [rowHover]="true"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th id="1" pSortableColumn="fields.positionName">
                            <div class="flex justify-content-between align-items-center">
                                <div class="flex justify-content-center align-items-center text-lg mt-1">
                                    Position
                                </div>
                                <div class="flex justify-content-between align-items-center">
                                    <p-sortIcon field="fields.positionName"></p-sortIcon>
                                    <p-columnFilter
                                        type="text"
                                        field="positionName"
                                        display="menu"
                                        matchMode="contains"
                                        [showMatchModes]="false"
                                        [showOperator]="false"
                                        [showAddButton]="false"
                                        style="height: 1.7rem;"
                                    ></p-columnFilter>
                                </div>
                            </div>
                        </th>
                        <th id="2" pSortableColumn="" style="cursor: default;">
                            <div class="flex justify-content-between align-items-center">
                                <div class="flex justify-content-center align-items-center text-lg mt-1">
                                    Parameter
                                </div>
                                <div class="flex justify-content-between align-items-center">
                                    <p-columnFilter
                                        type="text"
                                        field="parameterName"
                                        display="menu"
                                        matchMode="contains"
                                        [showMatchModes]="false"
                                        [showOperator]="false"
                                        [showAddButton]="false"
                                        style="height: 1.7rem;"
                                    ></p-columnFilter>
                                </div>
                            </div>
                        </th>
                        <th id="3" pSortableColumn="" style="cursor: default;">
                            <div class="flex justify-content-between align-items-center">
                                <div class="flex justify-content-center align-items-center text-lg mt-1">
                                    Weight
                                </div>
                                <div class="flex justify-content-between align-items-center">
                                    <p-columnFilter
                                        type="text"
                                        field="parameterWeight"
                                        display="menu"
                                        matchMode="contains"
                                        [showMatchModes]="false"
                                        [showOperator]="false"
                                        [showAddButton]="false"
                                        style="height: 1.7rem;"
                                    ></p-columnFilter>
                                </div>
                            </div>
                        </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="groupheader" let-position let-rowIndex="rowIndex" let-expanded="expanded">
                <tr>
                    <td colspan="3">
                        <div class="flex align-items-center expand-button gap-1">
                            <p-button
                                pRipple
                                [pRowToggler]="position"
                                class="p-button-text p-button-rounded p-button-plain mr-2"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                size="small"
                                pTooltip="{{ expanded? 'Hide details' : 'View details' }}"
                                tooltipPosition="top"
                            ></p-button>
                            {{position.positionName}}
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-position>
                <tr>
                    <td>
                        {{''}}
                    </td>
                    <td>
                        {{position.parameterName}}
                    </td>
                    <td>
                        {{position.parameterWeight}}
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <ng-template #withoutPositions>
            <h3 class="text-center text-large text-green-900">No positions for now!</h3>
        </ng-template>
    </p-card>
</div>
