<div class="flex justify-content-center overflow-hidden">
    <p-card
        styleClass="flipleft animation-duration-1000 animation-iteration-1 animation-ease-out"
        [style]="{ width: '40rem' }"
        header="Game Mode View"
    >
        <div
            class="flex justify-content-between align-content-center align-items-center"
        >
            <button
                pButton
                pRipple
                icon="pi pi-arrow-left"
                pTooltip="Return to the table"
                tooltipPosition="top"
                (click)="handleBackEvent()"
            ></button>
            <div
                class="flex justify-content-between align-content-center align-items-center gap-3"
            >
                <button
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-warning"
                    pTooltip="Edit player data"
                    tooltipPosition="top"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-danger"
                    pTooltip="Delete player"
                    tooltipPosition="top"
                ></button>
            </div>
        </div>

        <div class="flex flex-column align-items-center mt-3 gap-2">
            <div
                class="flex flex-column border-solid border-blue-400 border-2 border-round-lg bg-gray-50 p-scrollpanel-content-custom"
            >
                <label
                    class="text-gray-900 font-bold text-medium text-center bg-gray-300 p-3 border-round-top-lg"
                    for="formationName"
                    >Formation Name</label
                >

                <p-scrollPanel
                    [style]="{
                        width: '100%',
                    }"
                >
                    <p
                        class="text-lg text-center text-gray-900 m-3"
                        style="width: 34rem"
                    >
                        {{ gameMode.formationName }}
                    </p>
                </p-scrollPanel>
            </div>

            <div
                class="flex flex-column border-solid border-blue-400 border-2 border-round-lg m-1 pb-1 bg-gray-50"
            >
                <label
                    class="text-gray-900 font-bold text-medium text-center bg-gray-300 p-3 border-round-top-lg"
                    for="description"
                    >Description</label
                >

                <p-scrollPanel [style]="{ width: '100%', height: '150px' }">
                    <p
                        class="text-justify text-gray-900 m-3"
                        style="width: 34rem"
                    >
                        {{ gameMode.description || "No description for now!" }}
                    </p>
                </p-scrollPanel>
            </div>
        </div>

        <p-table
            *ngIf="gameMode.fields.length > 0; else withoutPositions"
            [value]="gameMode.fields"
            dataKey="positionId"
            sortField="positionName"
            sortMode="single"
            dataKey="positionName"
            rowGroupMode="subheader"
            groupRowsBy="positionName"
            styleClass="mt-2"
            [rowHover]="true"
            [tableStyle]="{ width: '100%' }"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th id="" pSortableColumn="fields.positionName">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            <div
                                class="flex justify-content-center align-items-center text-lg mt-1"
                            >
                                Position
                            </div>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon
                                    field="fields.positionName"
                                ></p-sortIcon>
                                <p-columnFilter
                                    type="text"
                                    field="positionName"
                                    display="menu"
                                    matchMode="contains"
                                    [showMatchModes]="false"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                    style="height: 1.7rem"
                                ></p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th id="" pSortableColumn="" style="cursor: default">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            <div
                                class="flex justify-content-center align-items-center text-lg mt-1"
                            >
                                Parameter
                            </div>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-columnFilter
                                    type="text"
                                    field="parameterName"
                                    display="menu"
                                    matchMode="contains"
                                    [showMatchModes]="false"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                    style="height: 1.7rem"
                                ></p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th id="" pSortableColumn="" style="cursor: default">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            <div
                                class="flex justify-content-center align-items-center text-lg mt-1"
                            >
                                Weight
                            </div>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-columnFilter
                                    type="text"
                                    field="parameterWeight"
                                    display="menu"
                                    matchMode="contains"
                                    [showMatchModes]="false"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                    style="height: 1.7rem"
                                ></p-columnFilter>
                            </div>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template
                pTemplate="groupheader"
                let-position
                let-rowIndex="rowIndex"
                let-expanded="expanded"
            >
                <tr>
                    <td colspan="3">
                        <div
                            class="flex align-items-center expand-button gap-1"
                        >
                            <p-button
                                pRipple
                                [pRowToggler]="position"
                                class="p-button-text p-button-rounded p-button-plain mr-2"
                                [icon]="
                                    expanded
                                        ? 'pi pi-chevron-down'
                                        : 'pi pi-chevron-right'
                                "
                                size="small"
                                pTooltip="{{
                                    expanded ? 'Hide details' : 'View details'
                                }}"
                                tooltipPosition="top"
                            ></p-button>
                            {{ position.positionName }}
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-position>
                <tr>
                    <td>
                        {{ "" }}
                    </td>
                    <td>
                        {{ position.parameterName || "No Data" }}
                    </td>
                    <td>
                        {{ position.parameterWeight || "No Data" }}
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <ng-template #withoutPositions>
            <h3 class="text-center text-large text-green-900">
                No positions for now!
            </h3>
        </ng-template>
    </p-card>
</div>
