<div class="edit-player-form flex justify-content-center">
    <p-card
        *ngIf="players && ($viewTable | async)"
        header="Players"
        styleClass="shadow-none justify-content-center align-content-center align-content-center"
    >
        <p-table
            #playersTable
            [value]="players"
            dataKey="id"
            [rows]="5"
            [rowHover]="true"
            [showCurrentPageReport]="true"
            [paginator]="true"
            [tableStyle]="{
                width: 'w-full',
            }"
        >
            <ng-template pTemplate="header" let-player>
                <tr>
                    <th id="" pSortableColumn="" style="cursor: default">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            <div
                                class="flex justify-content-center align-items-center text-lg mt-1"
                            >
                                Picture
                            </div>
                        </div>
                    </th>
                    <th id="" pSortableColumn="name">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            <div
                                class="flex justify-content-between align-items-center text-lg mt-1"
                            >
                                Name
                            </div>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="name"></p-sortIcon>
                                <p-columnFilter
                                    type="text"
                                    field="name"
                                    display="menu"
                                    matchMode="contains"
                                    [showMatchModes]="false"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                    style="height: 1.8rem"
                                ></p-columnFilter>
                            </div>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-player>
                <tr style="cursor: pointer">
                    <td (click)="handleSelectPlayer(player.id)">
                        <img
                            alt="{{ player.name }}"
                            src="{{
                                player.profilePictureLink ||
                                    '../../../../../../../assets/without-picture.png'
                            }}"
                            class="{{
                                player.profilePictureLink
                                    ? 'players-table-profile-picture'
                                    : 'players-table-profile-without-picture'
                            }}"
                        />
                    </td>
                    <td (click)="handleSelectPlayer(player.id)">
                        {{ player.name }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>

<form
    *ngIf="selectedPlayer && !($viewTable | async)"
    [formGroup]="playerForm"
    (ngSubmit)="handleSubmitEditPlayerForm()"
    class="flex flex-column align-content-center m-3 gap-4"
    enctype="multipart/form-data"
>
    <div class="flex justify-content-start align-content-center">
        <p-button
            severity="primary"
            icon="pi pi-arrow-left"
            pTooltip="Return to the table"
            tooltipPosition="top"
            (click)="handleBackEvent()"
        ></p-button>
    </div>

    <span class="p-float-label">
        <input pInputText formControlName="name" class="w-full" />
        <app-form-control-alert
            [form]="playerForm"
            [controlName]="'name'"
            [minNumberCharacters]="3"
            [maxNumberCharacters]="30"
        ></app-form-control-alert>
        <label for="name">Name</label>
    </span>

    <span class="p-float-label">
        <input
            pInputText
            placeholder="Team"
            formControlName="team"
            class="w-full"
        />
        <app-form-control-alert
            [form]="playerForm"
            [controlName]="'team'"
            [minNumberCharacters]="3"
            [maxNumberCharacters]="30"
        ></app-form-control-alert>
        <label for="team">Team</label>
    </span>

    <div
        class="flex justify-content-between align-items-center gap-3 pt-2 pb-2"
    >
        <span class="p-float-label">
            <p-inputNumber
                formControlName="age"
                [minlength]="1"
                [maxlength]="3"
                [useGrouping]="false"
            ></p-inputNumber>
            <label for="age">Age in years</label>
        </span>

        <span class="p-float-label">
            <p-inputNumber
                formControlName="height"
                [minlength]="2"
                [maxlength]="3"
                [useGrouping]="false"
            ></p-inputNumber>
            <label for="name">Height in centimeters</label>
        </span>
    </div>

    <div class="flex justify-content-between align-items-start gap-3">
        <span class="p-float-label mt-1">
            <p-dropdown
                [options]="positions"
                optionLabel="name"
                [editable]="true"
                [showClear]="true"
                placeholder="Select a position"
                styleClass="w-20rem"
                formControlName="position"
            ></p-dropdown>
            <label for="position">Select a position</label>
        </span>

        <div
            class="flex flex-column justify-content-start align-items-center w-full gap-1"
        >
            <label
                pRipple
                pButton
                for="input-file"
                class="bg-gray-700 hover:bg-gray-900 w-full p-2 font-medium shadow-1 flex justify-content-center align-items-center gap-2 border-gray-700"
                icon="pi pi-upload"
            >
                Choose Picture
            </label>

            <span *ngIf="$viewSelectedPicture | async" class="font-medium">{{
                (playerPicture && playerPicture.name) || "" | shorten : 15
            }}</span>

            <input
                type="file"
                name="input-file"
                id="input-file"
                style="display: none"
                accept=".jpg, .jpeg, .png .webp"
                (change)="handleUploadPicture($event)"
            />
        </div>
    </div>

    <form
        [formGroup]="playerParameterForm"
        (ngSubmit)="handleAddNewParameter()"
        class="flex justify-content-between align-items-center mt-1 w-full"
    >
        <div class="flex justify-content-between align-content-center gap-3">
            <span class="p-float-label">
                <p-dropdown
                    [options]="parameters"
                    optionLabel="name"
                    [editable]="true"
                    [showClear]="true"
                    styleClass="w-20rem"
                    placeholder="Select a parameter"
                    formControlName="parameter"
                ></p-dropdown>
                <label for="parameter">Select a parameter</label>
            </span>
            <input
                pInputText
                class="w-7rem"
                formControlName="score"
                [minlength]="1"
                [maxlength]="3"
            />
        </div>
        <p-button
            [disabled]="!playerParameterForm.valid"
            type="submit"
            severity="warning"
            icon="pi pi-plus"
            pTooltip="Add new parameter"
            tooltipPosition="top"
            [rounded]="true"
        ></p-button>
    </form>

    <div class="flex flex-column gap-2">
        <div class="flex justify-content-between align-items-center">
            <span class="text-xl font-bold text-gray-900"
                >Player parameters</span
            >
        </div>

        <p-table [value]="playerParametersScore" [rowHover]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th id="" pSortableColumn="name">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            <div
                                class="flex justify-content-center align-items-center text-lg mt-1"
                            >
                                Name
                            </div>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="name"></p-sortIcon>
                                <p-columnFilter
                                    type="text"
                                    field="name"
                                    display="menu"
                                    matchMode="contains"
                                    [showMatchModes]="false"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                    style="height: 1.7rem"
                                ></p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th id="" pSortableColumn="playerScore">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            <div
                                class="flex justify-content-center align-items-center text-lg mt-1"
                            >
                                Score
                            </div>
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="playerScore"></p-sortIcon>
                                <p-columnFilter
                                    type="text"
                                    field="playerScore"
                                    display="menu"
                                    matchMode="contains"
                                    [showMatchModes]="false"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                    style="height: 1.7rem"
                                ></p-columnFilter>
                            </div>
                        </div>
                    </th>
                    <th id="" pSortableColumn="" style="cursor: default">
                        <div class="text-lg text-center mt-1">Delete</div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-parameter>
                <tr>
                    <td>{{ parameter.name }}</td>
                    <td>
                        {{ parameter.playerScore }}
                    </td>
                    <td style="text-align: center">
                        <p-button
                            severity="danger"
                            icon="pi pi-trash"
                            [rounded]="true"
                            (onClick)="
                                handleDeletePlayerParameter(parameter.name)
                            "
                        ></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div
        class="flex flex justify-content-center align-content-center align-items-center mt-4"
    >
        <p-button
            [disabled]="!playerForm.valid"
            type="submit"
            label="Save"
            styleClass="p-button-success flex justify-content-center align-content-center gap-2"
        >
            <i class="pi pi-check" style="font-size: 1.2rem"></i>
        </p-button>
    </div>
</form>
