.cell-text-player-table {
    font-size: 1.15rem;
}

.player-profile-picture {
    margin-top: 0.25rem;
    width: 6rem !important;
    height: 6rem !important;
    border-style: solid;
    border-width: 3px;
    border-color: var(--green-700);
    border-radius: 50%;
}

.player-profile-without-picture {
    margin-top: 0.25rem;
    width: 6rem !important;
    height: 6rem !important;
}
