<div class="flex justify-content-center mb-6">
    <p-card [style]="{ width: '65rem' }" header="Players">
        <p-table
            [value]="page.content"
            [rows]="page.pageSize"
            [first]="indexFirstRow"
            [paginator]="true"
            [totalRecords]="page.totalElements"
            [lazy]="true"
            (onLazyLoad)="handleChangePageEvent($event)"
            [loading]="loading"
            [customSort]="true"
            (sortFunction)="handleChangePageEvent($event)"
            [resetPageOnSort]="false"
            [rowHover]="true"
            [rowsPerPageOptions]="[5, 10, 20]"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} players"
            dataKey="id"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="" style="cursor: default">
                        <div class="flex justify-content-between align-items-center text-lg mt-1">
                            Picture
                        </div>
                    </th>
                    <th pSortableColumn="name">
                        <div class="flex justify-content-between align-items-center text-lg mt-1">
                            Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="position.name">
                        <div class="flex justify-content-between align-items-center text-lg mt-1">
                            Position
                            <p-sortIcon field="position.name"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="team">
                        <div class="flex justify-content-between align-items-center text-lg mt-1">
                            Team
                            <p-sortIcon field="team"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template let-player pTemplate="body">
                <tr style="cursor: pointer">
                    <td (click)="handleViewFullDataPlayerEvent(player.id)">
                        <img
                            alt=""
                            class="{{
                                player.pictureUrl
                                    ? 'home-players-table-profile-picture'
                                    : 'home-players-table-profile-without-picture'
                            }}"
                            src="{{
                                player.pictureUrl ||
                                    '../../../../../../../assets/without-picture.png'
                            }}"
                        />
                    </td>
                    <td (click)="handleViewFullDataPlayerEvent(player.id)">
                        {{ player.name | shorten : 25 }}
                    </td>
                    <td (click)="handleViewFullDataPlayerEvent(player.id)">
                        {{ player.position.name | shorten : 20 }}
                    </td>
                    <td (click)="handleViewFullDataPlayerEvent(player.id)">
                        {{ player.team | shorten : 20 }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>
