.cell-text-player-table {
    font-size: 1.25rem;
}

.player-profile-picture {
    width: 6rem !important;
    height: 6rem !important;
    border-style: solid;
    border-width: 3px;
    border-color: var(--green-600);
    border-radius: 50%;
}
